
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.container {
  max-width: 900px;
  margin: 10vh auto;
  padding: 0 20px;
  text-align: left;
}

h1 {
  font-size: clamp(3rem, 7vw, 5rem);

}
p
{
    font-size: 1.5rem;
}

button {
  background: none;
  border: none;
  font-size: 0.5rem;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  margin-top: 20px;
  transition: color 0.3s;
  text-align: left;
}

button:hover {
  opacity: 0.7;
}
